<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEFSService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5352/EFSService/EFSService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEFSService"
                contract="EFSService.IEFSService" name="BasicHttpBinding_IEFSService" />
        </client>
    </system.serviceModel>
</configuration>