<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEFSService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5352/EFSService/EFSService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEFSService"
                contract="EFSService.IEFSService" name="WSHttpBinding_IEFSService">
                <identity>
                    <userPrincipalName value="Laurent-VAIO\Laurent" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>