<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="GUI.IPCInterface.EFSService" behaviorConfiguration="EFSServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/EFSService"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="GUI.IPCInterface.IEFSService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="EFSServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <GUI.Properties.Settings>
      <setting name="DisplayRequirementsAsList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayEnclosingMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayAllVariablesInStructureEditor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockOpenedFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckParentRelationship" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheFunctions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowRefactor" serializeAs="String">
        <value>True</value>
      </setting>
    </GUI.Properties.Settings>
  </userSettings>
</configuration>
