<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="GUI.IPCInterface.EFSService" behaviorConfiguration="EFSServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/EFSService"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="GUI.IPCInterface.IEFSService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="EFSServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
